<div class="layout">
  <div class="loginCard">
    <mat-card class="example-card">
      <mat-card-header class="header">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value.password)">
                    <a *ngIf="this.alertMessages" class="es-alert-warning" color="warn" mat-stroked-button
          routerLink=".">{{msgs}}</a>
          <mat-form-field>
            <input
              matInput
              placeholder="New password"
              formControlName="password"
              required
            />
            <mat-error *ngIf="loginForm.hasError('required', 'password')">
              Please enter your new password
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Confirm password"
              formControlName="confirmPassword"
              [errorStateMatcher]="matcher"
              type="password"
            />
            <mat-error *ngIf="loginForm.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
          <div class="submit-buttons">
            <button
              mat-raised-button
              class="es-submit-button"
              color="accent"
              [disabled]="!loginForm.valid"
            >
              Submit
            </button>
            <button
              mat-raised-button
              class="es-submit-button"
              color="accent"
              [routerLink]="'/login'"
            >
              Cancel
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
